# Pandas - Series
   
Index | Value
:-------------:|:-------------------:
 Series    |  1-dimensional data 
 Dataframe |  2-dimensional data
   
* Series consist of `'index'` and `'value'`

* And they have following features: CRUD    

**C**reate   
**R**ead   
**U**pdate   
**D**elete   

## 1. Make Series data

In [1]:
import pandas as pd

seriesdata = pd.Series([10, 20, 30])  # Create
print(seriesdata)
# print automatically data type at the last line.
# int64 means storing data in a 64-bit integer type

0    10
1    20
2    30
dtype: int64

## 2. Set index

In [2]:
series_data = pd.Series([10, 20, 30, 40, 50], index=['A', 'B', 'C', 'D', 'E'])
print(series_data)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [3]:
series_data2 = pd.Series([[1, 0, 0], [0, 1, 0], [0, 0, 1]], index=['row1','row2','row3'])
print(series_data2)

row1    [1, 0, 0]
row2    [0, 1, 0]
row3    [0, 0, 1]
dtype: object

## 3. Read and Update Series data

In [4]:
print(series_data.index)  # Read

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [5]:
series_data.index = ['row1', 'row2', 'row3', 'row4', 'row5']  # Update index
print(series_data)

row1    10
row2    20
row3    30
row4    40
row5    50
dtype: int64

In [6]:
series_data['row1'] = 100  # Update index
print(series_data['row1'], series_data[0])  # Check index in either way

100 100

## 4. Pandas data types

* Data types of pandas are a little bit different with those of Python
    * It is called, `dtype`
        * `object`  :  str in Python
        * `int64`   :  int in Python
        * `float64` :  float in Python
        * `bool`    :  bool in Python

In [7]:
series_data3 = pd.Series(['Ali', 'Nikil', 'Amir'])
print(series_data3)

0      Ali
1    Nikil
2     Amir
dtype: object

In [8]:
series_data4 = pd.Series(['Sunny', 0, 1])
print(series_data4)

0    Sunny
1        0
2        1
dtype: object

* We can also change data type using `Series.astype()`

In [9]:
series_data5 = pd.Series([0, 1, 2])
print(series_data5)  # int64

0    0
1    1
2    2
dtype: int64

In [10]:
c_series_data5 = series_data5.astype('float')
print(c_series_data5)  # float64

0    0.0
1    1.0
2    2.0
dtype: float64

# Pandas - Dataframe

* Dataframe is 2-dimensional data(a.k.a. table data)
* Dataframe consists of `rows`, `columns` and `indexes`

* And it also has following features: CRUD    

**C**reate   
**R**ead   
**U**pdate   
**D**elete   

## 1. Make Dataframe

In [11]:
import pandas as pd

df = pd.DataFrame({     # Create
    'col1': [1, 0, 0],
    'col2': [0, 1, 0],
    'col3': [0, 0, 1]
})
print(df)

   col1  col2  col3
0     1     0     0
1     0     1     0
2     0     0     1

## 2. Set index

In [12]:
df2 = pd.DataFrame({
    'col1': [1, 0, 0],
    'col2': [0, 1, 0],
    'col3': [0, 0, 1]
}, index=['row1', 'row2', 'row3'])
df2

      col1  col2  col3
row1     1     0     0
row2     0     1     0
row3     0     0     1

In [13]:
# row index
df2.index

Index(['row1', 'row2', 'row3'], dtype='object')

In [14]:
# col index
df2.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [15]:
# values
df2.values

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [16]:
df2 = df2.set_index('col1')  # set 'col1' as index
df2

      col2  col3
col1
1        0     0
0        1     0
0        0     1

In [17]:
df2 = df2.reset_index('col1')  # reset index
df2                            # Then, newly updated index would start from '0'

   col1  col2  col3
0     1     0     0
1     0     1     0
2     0     0     1

## 3. Read and Update, Delete Dataframe

In [18]:
df = pd.DataFrame({
    'col1': [1, 0, 0],
    'col2': [0, 1, 0],
    'col3': [0, 0, 1]
}, index=['row1', 'row2', 'row3'])

In [19]:
# Read row with index value
print(df.loc['row1'])  # also you can see the 'name' of index

col1    1
col2    0
col3    0
Name: row1, dtype: int64

In [20]:
# Read row with index number
print(df.iloc[0])

col1    1
col2    0
col3    0
Name: row1, dtype: int64

In [21]:
# Add column
df['col4'] = [1, 1, 1]  # Update
df

      col1  col2  col3  col4
row1     1     0     0     1
row2     0     1     0     1
row3     0     0     1     1

In [22]:
# Delete column
del df['col4']  # Delete
df

      col1  col2  col3
row1     1     0     0
row2     0     1     0
row3     0     0     1

In [23]:
# Add row
df.loc['row4'] = [1, 1, 1]
df

      col1  col2  col3
row1     1     0     0
row2     0     1     0
row3     0     0     1
row4     1     1     1

In [24]:
# Delete row
df = df.drop(['row4'])
df

      col1  col2  col3
row1     1     0     0
row2     0     1     0
row3     0     0     1

## 4. Copy row/col

In [25]:
# Copy original data
df2 = df[['col1', 'col2']].copy()
df2

      col1  col2
row1     1     0
row2     0     1
row3     0     0

In [26]:
df2.columns = ['n_col1', 'n_col2']  # change columns' name
df2

      n_col1  n_col2
row1       1       0
row2       0       1
row3       0       0